*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f4f6f9;
}

nav{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
    font-size:24px;
    font-weight:bold;
}

.container{
    width:500px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

h2{
    text-align:center;
    color:#1e3a8a;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-weight:600;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

input:focus,
select:focus{
    border-color:#2563eb;
}

button{
    width:100%;
    margin-top:25px;
    padding:12px;
    background:#3262bb;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#578acc;
}

body.dark-mode .container{
    background:#1f1f1f;
    color:white;
}

body.dark-mode input,
body.dark-mode select{
    background:#2a2a2a;
    color:white;
}

body.dark-mode label{
    color:white;
}